@import "./variables";

.seccion3_main_container {
  padding: 2%;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: white;
}

.seccion3_title {
  color: $lightBlue;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 2.5%;

}

.flex_main_container {
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 1%;
  margin: .25%;
  border-radius: 2rem;
  font-weight: bold;
  width: 25%;
}

.column h3 {
  text-align: center;
  font-size: 1.4rem;
}

.column1{
  background-color: $columnOneColor;
}

.column1 h3 {
  text-align: center;
  color: white;
}

.column1 p {
  text-align: center;
  color: white;
}


.column2{
  background-color: $columnTwoColor;
}
.column3{
  background-color: $columnThreeColor;
}

.column3 h3 {
  color: white;
}

.column3 p {
  color: white;
}

.column4{
  background-color: $columnFourColor;
  color: white;
}


// Resposive Design Mobile
@media screen and (max-width: 650px) {
  .flex_main_container {
    display: block;
    justify-content: space-between;
  }
  
  .column {
    margin: 2%;
    padding: 2%;
    width: 96%;
  }
}

.btn_mas_info {
  height: 35px;
  width: 10rem;
  background-color: $white;
  color: $darkBlue;
  border-radius: 2rem;
  border-color: $darkBlue;
  font-weight: bold;
  font-style: normal;
  &:hover{
    color: white;
  }
  display: block;
  margin: auto;
  
  
}


