@import "./variables";

.seccion1_main_container {
  padding: 5%;
  padding-bottom: 0;
  padding-top: 4%;
}


.logo-avion {
  margin: auto;
  text-align: center;
  background: url(../assets/avioneta_143x49.png) no-repeat;
  height: 50px;
  width: 145px;
}

.seccion1_title {
  color: $lightBlue;
  margin: auto;
  margin-top: 10px;
}

seccion1_subtitle {
  color: $darkBlue;
}

.paragraph {
  font: Ralway;
  color: $darkBlue;
}